* {
    font-family: helvetica;
}

h1 {
    font-size: 100px;
    font-weight: bold;
    background-image: url(pattern\ 1.webp);
    color: khaki;
    text-align: center;
}

h3 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#brush {
    background-color: mediumspringgreen;
}

#frame {
    background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}

.prices {
    font-weight: bold;
    color: blue;
}